.common_style {
    margin: 10px;
}

#header {
    color:white;
    max-width: fit-content;
    margin-inline: auto;
}

#header h1 {
    text-align: center;
    font-size: 90px;
    padding-bottom: 0;
    margin-bottom: 5px;
}

#header p {
    text-align: center;
    font-size: 25px;
    padding-top: 0;
    margin-top: 0;
}

#welcome {
    color: #DDDDDD;
}

#objective {
    color: #DDDDDD;
}

#process {
    color: #ffffff;
}

footer {
    margin-bottom:0;
    padding:0;
    color: #000000;
    background-color: #ffabc7;
}