/*main { */

#header {
    color:white;
    max-width: fit-content;
    margin-inline: auto;
}

#header h1 {
    text-align: center;
}

#header p {
    text-align: center;
}

#sec1 {
    color: #DDDDDD;
}

#sec2 {
    color: #DDDDDD;
}

#sec3 {
    color: #d6eadf;
}


footer {
    color: #d6eadf;
}