/*Common CSS for Home, Profile and About*/
.gentium-book-plus-regular {
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: normal;
}

.gentium-book-plus-bold {
    font-family: "Gentium Book Plus", serif;
    font-weight: 700;
    font-style: normal;
}

.gentium-book-plus-regular-italic {
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: italic;
}

.gentium-book-plus-bold-italic {
    font-family: "Gentium Book Plus", serif;
    font-weight: 700;
    font-style: italic;
}

.domine-regular {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color:#222222;
}

canvas {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
}


header {
    overflow: hidden;
    display:block;
}

.nav {
    background-color: #95b8d1;
    overflow: hidden;
    display: block;
    align-items: center;
    font-family: "Gentium Book Plus", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100%;
    width: 100%;
    padding: 12px 14px;
}

.nav a {
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    height: 40px;
}

.nav a:hover {
    background-color:  #222222;
    color: white;
}

.nav a.active {
  background-color: #d6e7e1;
  color: rgb(0, 0, 0);
}

