.gentium-book-plus-regular {
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: normal;
}

.gentium-book-plus-bold {
    font-family: "Gentium Book Plus", serif;
    font-weight: 700;
    font-style: normal;
}

.gentium-book-plus-regular-italic {
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: italic;
}

.gentium-book-plus-bold-italic {
    font-family: "Gentium Book Plus", serif;
    font-weight: 700;
    font-style: italic;
}

.domine-regular {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


body {
    background: linear-gradient(to bottom, #000000 0%, #3E2F2B 100%);
    margin:0;
    padding:0;
}

canvas {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
}


header {
    overflow: hidden;
    display:block;
}

.nav {
    background: rgba(28,18,15,0.28);
    overflow: hidden;
    display: block;
    align-items: center;
    font-family: "Gentium Book Plus", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100%;
    width: 100%;
    padding: 10px 14px;
    justify-content:center;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    color: #F6EEDF;
}

.nav a {
        color: #F6EEDF;
        text-align: center;
        padding: 12px 16px;
        text-decoration: none;
        font-size: 18px;
        height: 38px;
        display: inline-block;
        font-weight: 500;
        letter-spacing: 0.3px;
        opacity: 0.98;
}

.nav a:hover {
        background: rgba(255,255,255,0.03);
        color: #ffffff;
}

.nav a.active {
    background: rgba(255,255,255,0.05);
    color: #ffffff;
}