@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Typography Utility Classes */
.gentium-book-plus-regular {
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  font-style: normal;
}

.gentium-book-plus-bold {
  font-family: "Gentium Book Plus", serif;
  font-weight: 700;
  font-style: normal;
}

.domine-regular {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Base Styles */
body {
  background: linear-gradient(to bottom, #000000, #1a1d24);
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Gentium Book Plus', serif;
}

canvas {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
}